<html lang="en">
<head>
  </head>
  <body>
    <p>Show image in html using FLASK</p>
    <div>
      {% if images%}
        {%for i in range(0, len)%}
            <div>
              <img src="data:image/jpeg;base64,{{images[i]}}">
              <br><br>
            <div> 
          {%endfor%} 
        {% endif %}
      <div>
      <div>
          <h2>{{opt}}</h2>
          <form method="GET" enctype="multipart/form-data" action="/download{{opt}}">
            
            <input type="submit" value="Download">
        </form>
      </div>
  </body>
</html>