<html lang="en">
<head>
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style2.css')}}">
  </head>
  <body>
    <p>Show image in html using FLASK</p>
      <div>
          <form method="POST"  action="/api/choice">
            <input type="radio" id="box" name="options" value="Box">
            <label for="box">BOX</label><br>
            <input type="radio" id="Mask" name="options" value="Mask">
            <label for="Mask">Mask</label><br>
            <input type="submit">
        </form>
      </div>
  </body>
</html>